main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  bottom: 3rem;
  padding: 0 0.5rem;
}

form {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  width: 100%;
}

input {
  background: var(--gray-500);
  padding: 1.6rem;
  width: 100%;
  max-width: 63.8rem;
  height: 5.4rem;
  border: 0.1rem solid var(--gray-700);
  border-radius: 0.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 140%;
  color: var(--gray-300);
}

input::placeholder {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 140%;
}

@media (max-width: 333px) {
  input::placeholder {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 140%;
  }
}

form button {
  display: flex;
  align-items: center;
  background: var(--blueDark);
  border: none;
  border-radius: 8px;
  color: var(--gray-100);
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 140%;
  gap: 0.8rem;
  padding: 1.6rem;
  width: 9rem;
  height: 5.2rem;
  transition: 0.3s;
}

form button:hover {
  cursor: pointer;
  filter: brightness(1.2);
}

.tasksContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6.4rem;
  width: 100%;
  max-width: 73.6rem;
}

.info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.created {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.created h2 {
  color: var(--blue);
  font-size: 1.4rem;
  line-height: 1.7rem;
  font-weight: 700;
}

.created span {
  color: var(--gray-200);
  background: var(--gray-400);
  border-radius: 99.9rem;
  padding: 0.2rem 0.8rem;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.done {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.done h2 {
  color: var(--purple);
  font-size: 1.4rem;
  line-height: 1.7rem;
  font-weight: 700;
}

.done span {
  color: var(--gray-200);
  background: var(--gray-400);
  border-radius: 99.9rem;
  padding: 0.2rem 0.8rem;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.tasksList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}

.tasksList img {
  width: 5.6rem;
  height: 5.6rem;
  margin-top: 6.4rem;
  margin-bottom: 1.6rem;
}

.first {
  color: var(--gray-300);
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 140%;
  text-align: center;
}

.second {
  color: var(--gray-300);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 140%;
  text-align: center;
}
